/* css reset */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: none;
  /* border: black solid 1px; */
}

:root {
  --background-dark: #0B131E;
  --background-dark-medium: #131a25;
  --background-dark-container: #202B3B;
  --dark-ash-text: #DCDCDC;
  --bright: #fff;
  --dark-ash: #707070;
  --light-ash-text: #979DA5;
  --background-light-container: #E7E8E9;
  --background-light: #F5F5F5;
  --dark: #242F3F;
  --sweet: #FDB82C;
  --font-general: "Poppins", sans-serif;
  --box-shadow: 0 2rem 3rem var(--dark-ash);
  --border-radius: 1.2rem;
  --border-radius-curve: 2rem;
}

/* general styles */
body {
  background-color: var(--background-dark);

}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.debug {
  border: black solid 1px;
}

/* sidenav */
.sidenav .logo-img {
  width: 2.5rem;
  height: 2.5rem;
}

.sidenav {
  padding: 10px 0;
  height: 100vh;
  background-color: var(--background-dark-container);
}


.container {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 15% auto 22%;

}

@media all and (max-width:1206px) {
  .container {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 20% auto 30%;

  }
}

@media all and (max-width:978px) {
  .container {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 25% auto 33%;

  }
}

@media all and (max-width:652px) {
  .container {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 12% auto 33%;

  }

  .sidenav .logo h2,
  .sidenav .logo span,
  .sidenav li  {
    display: none;
  }
}

.sidenav .logo {
  align-items: center;
  gap: 5px;
  padding: 20px 0 30px 20px;
  /* justify-content: space-around;  */
}

.sidenav .logo h2 {
  font-size: 1rem;
  /* font-weight: 600; */
  color: var(--bright);
}

.sidenav .logo h2 span {
  color: var(--sweet);
}

.sidenav ul,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.sidenav li a {
  padding: 20px 0 20px 30px;
  transition: all 0.1s 0s ease-in;
  width: 100%;
  height: 100%;
  display: block;
  color: var(--dark-ash-text);
  font-size: 1rem;
}

.sidenav li a:hover {
  transform: translateX(-5px);

}

.sidenav li.active {
  /* padding: 10px; */
  /* border: white solid 1px; */
  /* width: 100%; */
  background-color: var(--background-dark-medium);
  border-left: white solid 5px;

}

/* main */
.main {
  position: relative;
}

.main .searchbar {
  width: 100%;
  height: 45px;
  border-radius: var(--border-radius-curve);
  border: none;
  padding: 10px 30px;
  color: var(--dark-ash-text);
  background-color: var(--background-dark-container);
  margin-top: 6%;
  position: relative;
}

.main .submit {
  position: absolute;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 0 var(--border-radius-curve) var(--border-radius-curve) 0;
  padding: 10px 30px;
  color: var(--dark-ash-text);
  background-color: var(--background-dark-container);
  top: 6%;
  right: 0;
}

.main .city h1 {
  color: var(--bright);
  font-size: 5rem;
  font-weight: 600;
}

.main .city h3 {
  font-size: 0.9rem;
  color: var(--light-ash-text);
  font-weight: 400;

}

.main .temperature {
  font-size: 3rem;
  margin-top: 3rem;
  color: var(--bright);
}

.main .forecasts {
  width: 100%;
  height: auto;
  padding: 20px 20px 30px 20px;
  border-radius: var(--border-radius);
  color: var(--light-ash-text);
  background-color: var(--background-dark-container);
  margin-bottom: 3%;
}

.main .forecasts .forecast {
  margin-top: 3%;
  flex-direction: column;
  padding: 0 27px;
  border-right: white 0.1px solid;

  font-size: 0.9rem;
  color: var(--light-ash-text);
}

.air-cond {
  justify-content: space-around;
}

.air {
  padding: 20px;
}

.air h1 {
  font-size: 1.5rem;
  color: var(--bright);
}

.air h3 {
  font-size: 0.9rem;
  color: var(--dark-ash-text);
}

/* aside */
.aside {
  background-color: var(--background-dark-container);
  border-radius: var(--border-radius);
  height: fit-content;
  margin-right: 30px;
  margin-top: 15px;
  color: var(--dark-ash-text);
  padding: 20px;
  transition: all 222s 0s ease-in;
}

.aside li {
  justify-content: space-between;
  padding: 20px 0;

}