/* css reset */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: none;
  /* border: black solid 1px; */
}

:root {
  --background-dark: #0b131e;
  --background-dark-medium: #131a25;
  --background-dark-container: #202b3b;
  --dark-ash-text: #dcdcdc;
  --bright: #fff;
  --dark-ash: #707070;
  --light-ash-text: #979da5;
  --background-light-container: #e7e8e9;
  --background-light: #f5f5f5;
  --dark: #242f3f;
  --sweet: #fdb82c;
  --font-general: "Poppins", sans-serif;
  --box-shadow: 0 2rem 3rem var(--dark-ash);
  --border-radius: 1.2rem;
  --border-radius-curve: 2rem;
}

/* general styles */
body {
  background-color: var(--background-dark);
}

.flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.debug {
  border: black solid 1px;
}

/* sidenav */
.sidenav .logo-img {
  width: 2.5rem;
  height: 2.5rem;
}

.sidenav {
  padding: 10px 0;
  height: 110vh;
  background-color: var(--background-dark-container);
  width: 15%;
  position: relative;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  gap: 1.7rem;
  /* grid-template-columns: 15% auto 22%; */
  /* grid-template-rows: 100%; */
}

.sidenav .logo {
  align-items: center;
  gap: 5px;
  padding: 20px 0 30px 20px;
  /* justify-content: space-around;  */
}

.sidenav .logo h2 {
  font-size: 1rem;
  font-weight: bold;

  color: var(--bright);
}

.sidenav .logo h2 span {
  color: var(--sweet);
}

.sidenav ul,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.sidenav li {
  position: relative;
}
.sidenav li i {
  position: absolute;
  top: 0;
  right: 0;
}

.sidenav li a {
  padding: 20px 0 20px 30px;
  transition: all 0.1s 0s ease-in;
  width: 100%;
  height: 100%;
  display: block;
  color: var(--light-ash-text);
  font-size: 0.9rem;
}

.side {
  padding: 5px 0 5px 30px;
}

.sidenav li div:hover {
  transform: translateX(-5px);
}

.sidenav li.active {
  /* padding: 10px; */
  /* border: white solid 1px; */
  /* width: 100%; */
  background-color: var(--background-dark-medium);
  border-left: white solid 5px;
}

.sidenav .icons {
  margin-top: 20px;
}

.sidenav .modes {
  width: fit-content;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--light-ash-text);
}
.sidenav .mode {
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: 1px black solid;
  padding: 10px;
}
.sidenav .mode.active {
  background-color: var(--background-dark);
  color: var(--dark-ash-text);
}

@media all and (max-width: 1206px) {
  .sidenav {
    width: 20%;
  }

  .aside {
    width: 30%;
  }
}

@media all and (max-width: 1010px) {
  .sidenav ul h2,
  .sidenav ul a {
    display: none;
  }

  .sidenav {
    width: 9%;
  }

  .sidenav .side img {
    padding-right: 15px;
  }
  .sidenav li i {
    position: absolute;
    top: 10;
    right: 0;
  }
  .sidenav .icons {
    margin: 10px 10px 10px 0;
  }
}

@media all and (max-width: 978px) {
  /* .container {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 25% auto 33%;

  } */
  /* .sidenav {
    width: 25%;
  } */

  .aside {
    width: 33%;
  }
}

@media all and (max-width: 780px) {
  .sidenav {
    background-color: var(--background-dark);
    padding: 10px;
    width: fit-content;
    height: fit-content;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 10% auto;
    gap: 2rem;
  }
  .dropdown--item.active {
    /* padding: 10px; */
    /* border: white solid 1px; */
    /* width: 100%; */
    background-color: var(--background-dark-medium);
    /* border-left: white solid 5px; */
  }
  .sidenav .logo h2,
  .sidenav .logo span,
  /* .sidenav li, */
  .sidenav .modes {
    display: none;
  }
}

/* main */
.main {
  position: relative;
  width: 60%;
  overflow-y: auto;
}

.main .searchbar {
  width: 100%;
  height: 45px;
  border-radius: var(--border-radius-curve);
  border: none;
  padding: 10px 30px;
  color: var(--dark-ash-text);
  background-color: var(--background-dark-container);
  margin-top: 6%;
}

.search-container {
  position: relative;
}

.main .submit {
  position: absolute;
  width: 10%;
  height: 45px;
  border: none;
  border-radius: 0 var(--border-radius-curve) var(--border-radius-curve) 0;
  padding: 10px 40px;
  color: var(--dark-ash-text);
  background-color: var(--background-dark-container);
  bottom: 0;
  right: 0;
}

.main .city h1 {
  /* margin-top: 2%; */
  color: var(--bright);
  font-size: 5rem;
  font-weight: 600;
}

.main .city h3 {
  font-size: 0.9rem;
  color: var(--light-ash-text);
  font-weight: 400;
}

.main .temperature {
  font-size: 3rem !important;
  margin-top: 3rem;
  font-weight: 500;
  color: var(--bright);
}

.main .forecasts {
  width: 100%;
  height: auto;
  padding: 20px 20px 30px 20px;
  border-radius: var(--border-radius);
  color: var(--light-ash-text);
  background-color: var(--background-dark-container);
  margin-bottom: 3%;
}

.forecasts h3 {
  font-size: 90%;
}

.main .forecasts .forecast {
  margin-top: 3%;
  /* width: 30%; */
  flex-direction: column;
  padding: 0 30px;
  border-right: white 0.1px solid;
  font-size: 0.9rem;
  color: var(--light-ash-text);
}

.air-cond {
  justify-content: space-around;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
}

.air {
  padding: 20px;
}

.air h1 {
  font-size: 1.5rem;
  color: var(--bright);
}

.air h3 {
  font-size: 0.9rem;
  color: var(--dark-ash-text);
}


@media all and (max-width: 1288px) {
  .main .forecasts .forecasts-list {
    overflow-x: scroll;
  }
}
@media all and (max-width: 978px) {
  .main {
    width:90%;
  }
}
/* aside */
.aside {
  background-color: var(--background-dark-container);
  border-radius: var(--border-radius);
  height: fit-content;
  margin-right: 2%;
  margin-top: 3%;

  color: var(--dark-ash-text);
  padding: 20px;
  transition: all 222s 0s ease-in;
  width: fit-content;
}

.aside p {
  font-size: 80%;
}

.aside li {
  justify-content: space-between;
  padding: 20px 0;
}

/*  */
.dropdown--menu {
  display: none;
  height: 0;
  position: absolute;
  left: 2rem;
  z-index: 20;
  /* color:  var(--gray); */
  top: 60px;
  width: 200px;
  background: var(--background-dark-container);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 550;
  /* text-decoration: none; */
  box-shadow: 1px 1px 13px var(--box-shadow);
  list-style: none;
  /* display: inline-block; */
  padding: 10px 20px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown--item {
  margin: 5px;
}

.dropdown--menu a,
.dropdown--menu a li {
  padding: 7px;
  color: var(--gray);
}

.dropdown--menu.open {
  height: 250px;
  display: block;
}

.dropdown--menu button {
  background-color: #fa8443;
  font-family: lato;
  color: #f7f7f7ff;
  width: 120px;
  height: 46px;
  border-radius: 8px;
  border: none;
  display: block;
}

/* dropdown end */
/* media queries for dropdown */
@media all and (max-width: 780px) {
  nav ul,
  nav button {
    display: none;
  }
}

@media all and (min-width: 780px) {
  .toggle_Btn {
    display: none;
  }
}

/*  */
